[submodule "Resources/NV-Colemak"]
	path = Resources/NV-Colemak
	url = https://github.com/theniceboy/nvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-CodeArt"]
	path = Resources/NV-CodeArt
	url = https://github.com/artart222/CodeArt
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Jdhao"]
	path = Resources/NV-Jdhao
	url = https://github.com/jdhao/nvim-config
	shallow = true
	ignore = dirty
[submodule "Resources/NV-RayX"]
	path = Resources/NV-RayX
	url = https://github.com/ray-x/nvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Doom"]
	path = Resources/NV-Doom
	url = https://github.com/NTBBloodbath/doom-nvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Glepnir"]
	path = Resources/NV-Glepnir
	url = https://github.com/glepnir/nvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Cosmic"]
	path = Resources/NV-Cosmic
	url = https://github.com/CosmicNvim/CosmicNvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Lvim"]
	path = Resources/NV-Lvim
	url = https://github.com/lvim-tech/lvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Les"]
	path = Resources/NV-Les
	url = https://github.com/MiaadTeam/lesvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Vin"]
	path = Resources/NV-Vin
	url = https://github.com/nikbrunner/vin
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Void"]
	path = Resources/NV-Oid
	url = https://github.com/nvoid-lua/nvoid
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Ide"]
	path = Resources/NV-Ide
	url = https://github.com/crivotz/nv-ide
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Afreidz"]
	path = Resources/NV-Afreidz
	url = https://github.com/afreidz/nvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Kiss"]
	path = Resources/NV-Lua
	url = https://github.com/brainfucksec/neovim-lua
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Noice"]
	path = Resources/NV-Noice
	url = https://github.com/tamton-aquib/nvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Leslie"]
	path = Resources/NV-Leslie
	url = https://github.com/leslie255/nvim-config
	shallow = true
	ignore = dirty
[submodule "Resources/NV-NeoCode"]
	path = Resources/NV-NeoCode
	url = https://github.com/Sewdohe/NeoCode
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Neocode"]
	path = Resources/NV-Neocode
	url = https://github.com/aserowy/neocode
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Chad"]
	path = Resources/NV-Chad
	url = https://github.com/NvChad/NvChad
	shallow = true
	ignore = dirty
[submodule "Resources/Nv-Eco"]
	path = Resources/Nv-Eco
	url = https://github.com/ecosse3/nvim
	shallow = true
	ignore = dirty
[submodule "Resources/NV-NFS"]
	path = Resources/NV-NFS
	url = https://github.com/LunarVim/Neovim-from-scratch
	shallow = true
	ignore = dirty
[submodule "Resources/NV-Astro"]
	path = Resources/NV-Astro
	url = https://github.com/AstroNvim/AstroNvim
	shallow = true
	ignore = dirty
